body {
  font-family: 'Noto Sans', sans-serif;
  padding: 2%;
}

button {
  font-family: 'Noto Sans', sans-serif;
}

.gray {
	color: #666;
}

.all {
  margin: 5% auto;
}

#sidebar {
  padding: 10px;
  background-color: lightyellow;
  border: 1px solid goldenrod;
}

.prompt {
  margin-top: 0;
}

.concept-explanation {
  margin: -10px 0px 0px 0px;
}

#next_exercise {
	float:right;
}

#run_code {
	float:right;
}

table, th, td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  white-space: pre;
}

table {
  width: 100%;
}

